
:host([disabled]) {
    pointer-events: none;
    opacity: 0.5;
}

:host(#fx-card-title,#fx-description) {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
}

:host(#fx-card-title) {
    font-size: 1.25rem;
    font-weight: 500;
}

:host(#fx-description) {
    font-size: 1rem;
    color: #666;
}

::slotted([slot="fx-actions"]) {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
}